@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;700&display=swap');

body { 
    background-color: rgb(20,20,20) ;
    color: rgb(255,255,255);

    font-family: 'Red Hat Mono', monospace;
    font-weight: 300;
}

header {
    display: flex; /* flexbox */
    justify-content: center;
}

header ul { /* only the ul in the header */ 
    display: flex; /* makes items appear next to each other rather than on top of each other */ 
    padding: 10px 10px 50px 10px; 
}

li {
    list-style:none; /* change inherit style */ 
    margin: 5px 10px; /* 5 pixels to top and bottom, 10 left and right */  
}

h1 {
    font-size : 160px;
    font-weight: 700; 
}

.hero-section{ /* dot for class*/
    margin-top: 17vh; 
    text-align: center;
}

.light-text{
    font-weight: 100;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    display: flex; 
    justify-content: center;
    width: 100vw; /*always be stuck to the browser*/
}

footer ul {
    display: flex; 
    padding: 30px;
}

a {
    text-decoration: none;
    color: rgb(255,255,255); 
}